@page "/"
@inherits EmployeesBase

@if(Employees == null && ErrorMessage == null)
{
    <DisplaySpinner />
}
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else 
{
    <h3 class="mb-3">Employees</h3>

    @if(CreateSuccess)
    {
        <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
            Successfully Added Employee..
        </RadzenAlert>
    }
    else if(DeleteSuccess)
    {
        <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
            Successfully Deleted Employee..
        </RadzenAlert>
    }

    <a class="btn btn-success"
        href="employees/create">Add Employee</a>
    <a class="btn btn-primary"
       href="@(HttpClient.BaseAddress)api/employees/export/excel">Export to Excel</a>
    <a class="btn btn-primary"
        href="@(HttpClient.BaseAddress)api/employees/export/csv">Export to CSV</a>
    
        var employeeCount = Employees.Count();
    
    @if(employeeCount > 0)
    {
        <div class="row mt-3">
            <DisplayEmployees Employees="@Employees" Currency="RSD"></DisplayEmployees>
        </div>
    }
    else
    {
        <h4>No Employees</h4>
    }
}
